# Temporary and binary files
*~
*.cfg
!setup.cfg
__pycache__/*
.DS_Store

# Transition files
src/mas_blender/mas_*/_*.*

# Project files
.pylintrc
.vscode

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
.pytest_cache/

# Build and docs folder/files
*/_build/*
build/*
dist/*
