[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nft-blender = {editable = true, path = "."}
pyside6 = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.10"
