[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mathutils = "*"
nft-blender = {editable = true, path = "."}
pyside6 = "*"
sqlalchemy = "*"
requests = "*"

[dev-packages]
pylint = "*"
pytest = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.10"
